/*  Variabili   */
/*  HOME PAGE  */
body:not([class]) .welcome-text {
  display: block;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .video {
    transform: translate(-50%, -50%) scale(1.08);
  }
}
@media (max-width: 768px) {
  .video {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
@media (min-width: 1200px) {
  .video {
    transform: translate(-50%, -50%) scale(3);
    top: 61%;
    object-fit: contain;
  }
}
body[class] {
  overflow: scroll;
}
.about-page {
  background-color: #fff;
}
/*  INTRO SECTION  */
.intro-title {
  font-weight: 600;
}
.intro-me {
  color: #000;
}
.link-start2 {
  color: #000;
  font-style: italic;
}
.link-start2:hover {
  color: #ffb300;
  text-decoration: underline !important;
}
.container-intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 2rem 1rem;
  text-align: start;
  gap: 2rem;
}
@media (min-width: 1025px) {
  .container-intro {
    min-height: 100vh;
    padding: 4rem 1rem;
  }
}
/*  BREATHE ANIMATION  */
div.breathe-animation {
  display: flex;
  align-items: center;
}
@font-face {
  font-family: 'TheFont';
  src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2") format('woff2');
}
.breathe-animation span {
  font-family: 'TheFont';
  font-size: 9vw;
  color: #ff920d;
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
  text-align: start;
  animation: letter-breathe 3s ease-in-out infinite;
}
@media (max-width: 756px) {
  .breathe-animation span {
    font-size: 15vw;
  }
}
@keyframes letter-breathe {
  from,
  to {
    font-variation-settings: 'wght' 100;
  }
  50% {
    font-variation-settings: 'wght' 900;
  }
}
/*  ROTATING TEXT  */
.rotating-text {
  width: 200px;
  height: 200px;
  animation: spin 10s linear infinite;
  margin: 0 auto;
  position: fixed;
  bottom: -30px;
  left: -10px;
  z-index: -2;
}
@media (min-width: 768px) {
  .rotating-text {
    width: 450px;
    height: 450px;
    bottom: -200px;
    position: absolute;
  }
}
.lets-create-text {
  font-size: 44px;
  fill: #ff920d;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*  BOX GENERICO  */
.custom-section {
  width: 80%;
  margin: 0 auto;
}
.custom-box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 34px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  height: fit-content;
}
.box-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #000;
}
.box-text {
  font-size: 1rem;
  color: #444;
}
.box-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
/*  CV BOX  */
.cv-box {
  border-radius: 20px;
  padding: 2rem;
  height: 100%;
  background: linear-gradient(-45deg, #FA4700, #FFBB00, #eab15c, #FA4700, #FFBB00, #efb153, #FA4700);
  background-size: 600% 600%;
  animation: gradientmove 8s ease infinite;
  box-shadow: 0px 6px 20px rgba(247, 72, 72, 0.4);
}
.cv-box:hover {
  transform: scale(1.04);
}
.cv-button:active {
  transform: scale(0.4);
}
.cv-button-link {
  text-decoration: none;
  color: inherit;
}
@keyframes gradientmove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Software icons grid */
.softwares-box {
  padding: 2rem;
}
.software-item {
  width: 10px;
  text-align: center;
}
.software-icon {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.software-label {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #000;
}
