/*  Variabili  */
/*  Keyframes  */
@keyframes letter-breathe {
  0%,
  100% {
    font-variation-settings: 'wght' 100;
  }
  50% {
    font-variation-settings: 'wght' 900;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*  CONTACTS PAGE  */
.contacts-page {
  background-color: #fff;
  margin: 0;
  padding: 0 0 150px;
  color: #000;
}
.title-section {
  padding: 0;
  text-align: center;
}
/*  BREATHE ANIMATION CHAT  */
.breathe-animation-chat span {
  font-family: "stinger-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 400;
  font-size: 9vw;
  color: #ff920d;
  letter-spacing: -0.2rem;
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  animation: letter-breathe 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.3s);
  font-variation-settings: 'wght' 100;
}
@media (max-width: 768px) {
  .breathe-animation-chat span {
    font-size: 17vw;
  }
}
.breathe-animation-chat .space {
  width: 0.2em;
  display: inline-block;
}
/*  FORM SECTION  */
.form-section {
  padding: 0 2rem 2rem;
}
.form-section .form-container {
  width: 100%;
  max-width: 700px;
  margin-top: 0;
  /* per il media query */
}
.form-section .form-control {
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 1rem;
  font-size: 1rem;
}
/*  SUBMIT BUTTON  */
.submit-button {
  background: linear-gradient(-45deg, #FA4700, #FFBB00, #eab15c, #FA4700, #FFBB00, #efb153, #FA4700);
  background-size: 600% 600%;
  animation: gradientMove 8s ease infinite;
  color: #fff;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.submit-button:hover {
  text-decoration: underline;
  transform: scale(1.04);
}
/*  RESPONSIVE DESKTOP  */
@media (min-width: 768px) {
  .contacts-content {
    flex-direction: row;
  }
  .title-section,
  .form-section {
    flex: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    margin-top: 0;
  }
}
.social-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 0 1rem;
  background: rgba(148, 148, 148, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.social-card:hover {
  background-color: #ffcd90;
  transform: translateY(-5px);
}
/*  SOCIAL SECTION  */
.social-section {
  overflow: hidden;
}
.social-section .social-box {
  background-color: #000;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 1rem 0;
}
.social-section .social-title {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
.social-section .follow-container {
  margin-top: 60px;
}
.social-section .row.g-3 {
  --bs-gutter-y: 0;
}
/*  ROTATING TEXT CONTACTS  */
.rotating-text-contacts {
  width: 1000px;
  height: 1000px;
  animation: spin 10s linear infinite;
  position: fixed;
  bottom: -480px;
  right: -300px;
  z-index: -1;
  pointer-events: none;
}
.rotating-text-contacts svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .rotating-text-contacts {
    width: 250px;
    height: 250px;
    top: 500px;
    left: -50px;
  }
}
.text-circle {
  font-size: 33px;
  fill: #ff920d;
}
