.about-page {
    background-color: white;
  }
  
  .intro-title {
    font-weight: 600;
  }
  
  .intro-me {
    color: black;
  }
  
  .link-start2 {
    color: black;
    font-style: italic;
  }
  
  .link-start2:hover {
    color: #ffb300;
    text-decoration: underline !important;
  }
  
  .container-intro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: start;
    gap: 2rem;
  }
  
  @media (min-width: 1025px) {
    .container-intro {
      min-height: 100vh;
      padding: 4rem 1rem;
    }
  }
  
  .breathe-animation {
    display: flex;
    align-items: center;
  }
  
  @font-face {
    font-family: 'TheFont';
    src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2") format('woff2');
  }
  
  .breathe-animation span {
    font-family: 'TheFont';
    font-size: 9vw;
    color: #ff920d;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
    text-align: start;
    animation: letter-breathe 3s ease-in-out infinite;
  }
  
  @keyframes letter-breathe {
    from, to {
      font-variation-settings: 'wght' 100;
    }
    50% {
      font-variation-settings: 'wght' 900;
    }
  }
  
  @media (max-width: 756px) {
    .breathe-animation span {
      font-size: 15vw;
    }
  }
  
  .rotating-text {
    width: 200px;
    height: 200px;
    animation: spin 10s linear infinite;
    margin: 0 auto;
    position: fixed;
    bottom: -30px;
    left: -10px;
    z-index: -2;
  }
  
  @media (min-width:768px) {
    .rotating-text {
      width: 450px;
      height: 450px;
      bottom: -200px;
      position: absolute;
    }
  }
  
  .lets-create-text {
    font-size: 44px;
    fill: #ff920d;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  