.contacts-page {
    background-color: white;
    margin: 0;
    padding: 0;
    color: #000;
    padding-bottom: 150px;
  }
  
  .title-section {
    padding: 0rem;
    text-align: center;
  }
  
  .breathe-animation-chat span {
    font-family: "stinger-variable", sans-serif;
    font-variation-settings: "wdth" 100, "wght" 400;
    font-size: 9vw;
    color: #ff920d;
    letter-spacing: -0.2rem;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    animation: letter-breathe 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.3s);
    font-variation-settings: 'wght' 100;
  }
  
  .space {
    width: 0.2em;
    display: inline-block;
  }
  
  @media (max-width:768px) {
    .breathe-animation-chat span {
      font-size: 17vw;
    }
  }
  
  .form-section {
    padding: 0rem 2rem 2rem;
  }
  
  .form-container {
    width: 100%;
    max-width: 700px;
  }
  
  .form-control {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 1rem;
    font-size: 1rem;
  }
  
  .submit-button {
    background: linear-gradient(-45deg,#FA4700,#FFBB00,#eab15c, #FA4700,#FFBB00, #efb153,#FA4700);
    background-size: 600% 600%;
    animation: gradientMove 8s ease infinite;
  }
  